body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color:white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#result{
    border: none;
}
.display {
    padding: 10px;
    text-align: right;
    display: flex;
}
.display button{
    background-color:green;
    color: white;
}
input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    background-color:black;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:hover {
    color:black;
    background-color:white;
}
